# basics
tqdm
numpy
pandas
scipy
scikit-learn

# plotting
matplotlib
plotly
seaborn

# images
opencv-python
Pillow

# jupyter
jupyterlab
ipywidgets
jupyterlab-widgets
notebook

# ML frameworks
keras
torch
torchvision
torchaudio
tensorboard
torchinfo
torchmetrics
transformers
accelerate
bitsandbytes
word2vec